<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Book List</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <!--<th>Author</th>-->
                <th>Publisher</th>
                <th>Isbn</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">Id</td>
                <td th:text="${book.name}">Title</td>
                <!--<td th:text="${book.authors}">Author</td>-->
                <td th:text="${book.publisher.publisherName}">Publisher</td>
                <td th:text="${book.isbn}">isbn</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>